.auth-form {
	width: 25rem;
	max-width: 80%;
	margin: 13rem auto;
}
.form-ctrl label,
.form-ctrl input {
	color: rgb(108, 5, 131);
	width: 100%;
	display: block;
}
.form-ctrl input {
	border: 1px solid rgb(108, 5, 131);
	border-radius: 2px;
}
.form-ctrl input:active {
	outline: none;
	border: 1px solid rgb(108, 5, 131);
	border-radius: 2px;
}
.form-axon button {
	margin-top: 10px;
	margin-right: 1rem;
	padding: 3px;
	border-radius: 8px;
	color: white;
	background-color: rgb(164, 47, 190);
	font: inherit;
	border: 1px solid rgb(108, 5, 131);
	box-shadow: 3px 3px 5px rgb(108, 5, 131);
}
.form-axon button:hover {
	margin-top: 10px;
	margin-right: 1rem;
	padding: 3px;
	border-radius: 4px;
	color: white;
	background-color: rgb(164, 47, 190);
	font: inherit;
	border: 1px solid rgb(108, 5, 131);
	box-shadow: 4px 3px 7px rgb(34, 2, 41);
}
.form-axon a {
	color: rgb(66, 41, 71);
	text-decoration: none;
}
.form-axon a:hover {
	color: rgb(193, 53, 224);
}
