.deti {
  margin: 0;
  padding-top: 10px;
  font-size: 0.8rem;
}
.picha {
  padding: 2px;
}
.furem {
  overflow: hidden;
  width: 30rem;
  box-sizing: content-box !important;
  /* height: 15rem; */
  height: 100%;
  /* position: absolute; */
  /* top: -20px; */
  /* left: 20px; */
  /* width: calc(100% + 20px); */
}
.furem img {
  /*object-fit losing aspect ratio*/
  transition: all 1.5s ease;
  object-fit: contain;
  /* padding: 2px;
  max-width: 100%;
  height: 15rem;
  width: 100%; */
  height: inherit;
  width: 100%;
}
.furem:hover img {
  transform: scale(1.5);
}
.blog-button {
  border: white;
  background-color: white;
  margin: 0 !important;
}
.baton {
  color: whitesmoke;
  z-index: 100;
  border: 1px solid rgb(68, 24, 24);
  background-color: rgb(172, 161, 161);
  border-radius: 5px;
  margin-left: 5px;
}
.baton:hover {
  color: whitesmoke;
  z-index: 100;
  border: 1px solid rgb(68, 24, 24);
  background-color: rgb(139, 8, 8);
  border-radius: 5px;
  margin-left: 5px;
}
