body {
  background: rgba(255, 255, 255, 0.9);
}
.logo {
  height: 3rem;
  object-fit: cover;
}
.linkie {
  color: rgb(163, 64, 163);
  font-family: "Nunito", sans-serif;
}
.linkie:hover {
  color: rgb(129, 9, 153);
  font-family: "Nunito", sans-serif;
}
.ikon {
  color: rgb(226, 220, 220);
  background-color: rgb(180, 178, 178);
}
.laini {
  border: none;
  background: white;
  height: 1px;
}
